html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  min-height: 100%;
}

.content {
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  position: relative;
  height: auto;
}

#logo {
  padding-bottom: 20px;
}

.search-box {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  padding-top: 0;
  margin-top: 0;
  display: block;
}

.grid-container {
  display: grid;
  height: 83vh;
  grid-template-areas:
    "navbar"
    "content"
}

.line {
  background-color: rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: rgba(0, 0, 0, 0.75);
}

.b {
  padding-bottom: 30px;
}

.navbar {
  grid-area: navbar;
  position:relative;
  top: 20px;
  right: 40px;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  display: inline-block;
  float: left;
  padding-left: 15px;
  height: 30px;
  line-height: 30px;
}

input[type="submit"] {
  background-color: rgba(50, 130, 200, 0.9);
  color: white;
  border: none;
  padding: 6px 13px;
  border-radius: 2px;
  font-weight: 500;
}

input[type="search"] {
  width: 600px;
  border-radius: 1px;
  padding: 15px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: -5px 3px 5px rgba(0, 0, 0, 0.07);
  margin: 0 auto;
}

a:link, a:visited {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}

a:hover {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: underline;
}

input[type="button"]{
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px 15px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
}

input[type="button"]:hover{
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 9px 14px;
  box-shadow: -0.5px 1px 1px rgba(0, 0, 0, 0.1);
}

.buttons-area {
  margin: 15px auto;
}

span a {
  padding: 0 5px;
}

.right {
  float: right;
}

.left {
  float: left;
}
